<div class="headers">
    <p>Quanment</p>
    <p>History</p>
</div>
<div class="sub-header">
<p>Welcome to Quantity Measurement</p>
</div>
<div class="main-container">
<p class="choose">CHOOSE TYPE</p>
<div class="sub-container">
    <div class="block">
        <img src="../../../assets/scale-nocolor.png "  style="width: 11.61px;"/>
        <p>Length</p>
    </div>
    <div class="block">
        <img src="../../../assets/hot-nocolor.png" style="width: 29.61px;"/>
        <p>Temperature</p>
    </div>
    <div class="block">
        <img src="../../../assets/beaker-nocolor.png"  style="width: 45.61px;"/>
        <p>Volume</p>
    </div>
</div>
</div>
